duckdb>=0.10.0
drain3>=0.9.11

sentence-transformers>=2.7
numpy>=1.26.0
scikit-learn>=1.4.0

cachetools==4.2.1
ciso8601>=2.3.0

torch>=2.2.0

chromadb>=0.5.0

requests>=2.31.0

faker
pandas
openpyxl
fpdf
reportlab
python-dotenv